{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="carousel-hero" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel-hero" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel-hero" data-bs-slide-to="1" aria-label="Slide 2"
      aria-current="true"></button>
    <button type="button" data-bs-target="#carousel-hero" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/carousel-tom.webp' %}" width="100%" height="100%" aria-hidden="true"
        preserveAspectRatio="xMidYMid slice" focusable="false">
      <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
      <div class="container">
        <div class="carousel-caption text-start">
          <h2>tomtoc</h2>
          <p><a class="btn btn-lg btn-dark" href="#">Buy Now</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/carousel-aer.jpg' %}" width="100%" height="100%" aria-hidden="true"
        preserveAspectRatio="xMidYMid slice" focusable="false">
      <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
      <div class="container">
        <div class="carousel-caption">
          <h2>Aer</h2>
          <p><a class="btn btn-lg btn-dark" href="#">Buy Now</a></p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/carousel-pd.webp' %}" width="100%" height="100%" aria-hidden="true"
        preserveAspectRatio="xMidYMid slice" focusable="false">
      <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
      <div class="container">
        <div class="carousel-caption text-end">
          <h2>Peak Design</h2>
          <p><a class="btn btn-lg btn-dark" href="#">Buy Now</a></p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-hero" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-hero" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="my-5 mt-0 mb-0">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h2 class="text-body-emphasis">Company Statement</h2>
      <p class="col-lg-8 mx-auto lead">
        {{ about.company_statement }}
      </p>
    </div>
  </div>
</div>
<div class="my-5 mt-0 mb-0 bg-dark text-white">
  <div class="p-5 text-center">
    <div class="container py-5">
      <h2 class="text-white">Bestseller</h2>
      <p class="col-lg-8 mx-auto lead">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
</div>
<div class="my-5 mt-0 mb-0">
	<div class="p-5 text-center bg-body-tertiary">
		<div class="container py-5">
			<h2 class="text-body-emphasis text-uppercase">Frequently Asked Questions</h2>
			{% if faqs %}
				<div class="list-group">
				{% for faq in faqs %}
					<div class="list-group-item border-0 bg-body-tertiary">
						<h5 class="fw-bold">{{ faq.question }}</h5>
						<p>{{ faq.answer }}</p>
					</div>
				{% endfor %}
				<a href="{% url 'faq:faq_list' %}" class="btn btn-dark btn-md">View All FAQs</a>
				</div>
			{% else %}
				<p class="text-muted">No FAQs available at the moment.</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
