html {
    height: 100%;
}

body {
    padding-top: 64px;
}

#carousel-hero {
    max-width: 1440px;
    margin: 0 auto;
}

.custom-toast {
    width: 100%;
    max-width: 100%;
}

@media (min-width: 992px) {
    body {
        padding-top: 112px;
    }
}