html, body {
    height: 100%;
    margin: 0;
	padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    width: 100%;
    background-color: #343a40;
}

main {
    padding: 58px 0 2rem 0;
    flex-grow: 1;
}

footer {
    padding: 2rem;
    width: 100%;
}

#carousel-hero {
    max-width: 2560px;
    margin: 0 auto;
}

#carousel-hero .carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.custom-toast {
	margin-top: 3rem;
    width: 100%;
    max-width: 100%;
}

@media (min-width: 992px) {
    body {
        padding-top: 58px;
    }
}
