<div class="collapse navbar-collapse">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bags
            </a>
        </li>

        <li class="nav-item dropdown">
            <li class="nav-item ">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessoires
            </a>
        </li>

        <li class="nav-item dropdown">
            <li class="nav-item ">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>
    </ul>
</div>