<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="text-uppercase fw-bold nav-link text-white" href="#" id="products-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                All Products
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="products-link">
                <li><a href="{% url 'products:product_list' %}" class="dropdown-item">All Products</a></li>
                <li><a href="" class="dropdown-item">By Price</a></li>
                <li><a href="" class="dropdown-item">By Rating</a></li>
                <li><a href="" class="dropdown-item">By Category</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="text-uppercase fw-bold nav-link text-white" href="{% url 'products:category_product_list' category_slug='aer' %}">
                Aer
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="text-uppercase fw-bold nav-link text-white" href="{% url 'products:category_product_list' category_slug='peak_design' %}">
                Peak Design
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="text-uppercase fw-bold nav-link text-white" href="{% url 'products:category_product_list' category_slug='tomtoc' %}">
                TomToc
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="text-uppercase fw-bold nav-link text-white" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sale
            </a>
        </li>
    </ul>
</div>