<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="text-uppercase fw-bold nav-link text-white" href="{% url 'products:product_list' %}">
                All Products
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="text-uppercase fw-bold nav-link text-white" href="{% url 'products:category_product_list' category_slug='aer' %}">
                Aer
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="text-uppercase fw-bold nav-link text-white" href="{% url 'products:category_product_list' category_slug='peak_design' %}">
                Peak Design
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="text-uppercase fw-bold nav-link text-white" href="{% url 'products:category_product_list' category_slug='tomtoc' %}">
                TomToc
            </a>
        </li>
    </ul>
</div>