{% extends 'base.html' %}

{% block extra_title %}
	- About Us
{% endblock %}

{% block content %}
<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-12 col-md-8">
			<div class="card p-4 shadow-sm">
				<div class="card-body">
					<h2 class="text-uppercase mb-4">{{ about.title }}</h2>
					<h4>Our History</h4>
					<p>{{ about.history }}</p>
					<h4>Our Mission</h4>
					<p>{{ about.mission }}</p>
					<h4>Our Vision</h4>
					<p>{{ about.vision }}</p>
					<p>If you have any questions or concerns:<br>
						<a href="{% url 'contact:contact_us' %}" class="btn btn-dark btn-md mt-2">Contact Us</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
