{% extends "base.html" %}
{% load static %}

{% block extra_title %}
- Edit Product
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="text-uppercase mb-4">Edit Product</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 offset-lg-3">
            <form method="POST" action="{% url 'products:edit_product' product.id %}" enctype="multipart/form-data" class="p-4 shadow-sm rounded">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-start mt-4">
                    <a href="{% url 'products:product_list' %}" class="btn btn-outline-dark btn-md">
                        <span>
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-dark btn-md">
                        Save Changes
                        <span>
                            <i class="fas fa-save"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
